<ion-view view-title="我">
  <ion-header-bar align-title="center" class="bar-calm">
            <div class="h1 title">我</div>
  </ion-header-bar>
  <ion-content>
    <div class="find">
        <img src="img/img1.jpg" alt="" width="100%" height="150px">
        <div class="img-a"></div>
        <div class="find-name"><img src="img/ben.png" alt=""></div>
        <div class="row find-a">
          <div class="col col-33 find-b">
              <div>关注</div>
              <div>128</div>
          </div>
          <div class="col col-33" style="padding-top:35px; padding-left:20px">出游</div>
          <div class="col col-33 find-b">
              <div>粉丝</div>
              <div>128</div>
          </div>
        </div>
    </div>
    
    <ion-list>
      <ion-item class="item-remove-animate item-avatar-left item-icon-right" ng-repeat="my in mys"  type="item-text-wrap" href="#/tab/my/{{my.id}}">
          <img src="{{my.img}}" alt="">
          <div>
            <h3>{{my.name}}</h3>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
